.header{
    position: relative;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: red;
}
.header__navigation-button{
    display: flex;
    visibility: hidden;
    width: 45px;
    height: 45px;    
    border: 0;    
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.2s ease-in 0.2s;
}
.header__navigation-button:hover{
    background-color: white;
}
@media screen and (max-width: 750px) {
    .header__navigation-button{
        margin-left: 20px;
        visibility: visible;
        opacity: 1;
    }
}