.home{
    padding-top: 40px;
}
.button-group{    
}
.button-group__item{
    font: var(--primary-font);
    font-weight: bold;
    background-color: whitesmoke;
    color: var(--secondary-color);
    width: 128px;
    padding: 5px;
    border: 2px solid whitesmoke;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.active,
.button-group__item:hover{
    background-color: var(--secondary-color);
    color: whitesmoke;    
}