<div>
    <section class="detail-side">
        <div class="detail-side__content"><h1>Guides</h1></div>
        <div class="detail-side__content" *ngFor="let guide of guideList">
            <a [href]="guide.link">{{ guide.name }}</a>
        </div>   
    </section>
    <section class="detail-side">
        <div class="detail-side__content"><h1>References</h1></div>
        <div class="detail-side__content" *ngFor="let ref of refList">
            <a [href]="ref.link">{{ ref.name }}</a>
        </div>        
    </section>
</div>