.header{
    position: relative;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: red;
}
.header__navigation-button{
    display: flex;
    visibility: hidden;
    width: 45px;
    height: 45px;    
    border: 0;    
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.2s ease 0.2s, background-color 0.2s ease;
}
.header__navigation-button:hover{
    background-color: white;
}
.header__button{
    font-size: 12px;
    padding: 8px 12px;
    margin: 0 40px 0 auto;
    background-color: transparent;    
    border: 3px solid transparent;
    transition: color 0.2s ease, background-color 0.2s ease;
    color: var(--secondary-color)
}
.header__button h1{
    margin: 0;
}
.header__button:hover{
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
}
@media screen and (max-width: 750px) {
    .header__navigation-button{
        margin-left: 20px;
        visibility: visible;
        opacity: 1;
    }
}