<div class="container" [appBackgroundImage]="'assets/img/shooting.jpg'">
  <app-loading></app-loading>
  <app-header></app-header>
  <div class="main-content">    
    <!-- <app-home *ngIf="currentPage === 'home'" class="home"></app-home>    
    <app-article *ngIf="currentPage === 'article'" class="article"></app-article>
    <app-page-not-found *ngIf="currentPage === 'aboutUs'" class="aboutUs"></app-page-not-found>
    <app-detail *ngIf="currentPage === 'detail'" class="detail"></app-detail> -->
    <router-outlet></router-outlet>
  </div>  
  <app-footer></app-footer>
</div>