/* You can add global styles to this file, and also import other style files */
:root{
    --primary-font: 'Nunito';
    --primary-color: white;
    --secondary-color: black;
}
body{
    margin: 0;
    font-family: var(--primary-font);
}