.navigation{}
.navigation__list{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navigation__list-item{
    margin-right: 25px;
    display: inline;
    font-weight: bold; 
    transition: transform 0.2s ease-in, color 0.2s ease-in;
}
a{    
    text-decoration: none;
    transition: color 0.5s ease;
}
.navigation__list-item a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
.active{
    color: var(--primary-color);
    text-decoration: underline;
}
.navigation__button{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    height: 22px;
    width: 22px;
    padding: 2px;
    border: 0;
    border-radius: 99px;
    background: transparent;
    transition: background-color 0.5s ease;
}
.navigation__button img{height: 100%;width: 100%;}
@media screen and (max-width: 750px) {
    .navigation{
        position: fixed;    
        height: 100vh;
        top: 0;
        left: 0;
        transition: transform 0.2s ease-in;
        transform: translateX(-100%);
        background-color: darksalmon;
        z-index: 99;
    }
    .navigation__list{        
        align-items: flex-start;
        flex-direction: column;   
        width: fit-content;         
        padding: 40px;        
    }
    .navigation__list-item{
        margin-bottom: 15px;
    }
    .navigation__button{
        display: block;
    }
    .navigation__button:hover{
        background-color: var(--primary-color);
    }
    .open{
        transform: translateX(0);
    }
}